:root{
    counter-reset: numbers;
}

ol{
    color: white;
    margin-top: 10px;
    padding-left: 30px;
    list-style: none;
}
ol li{
    counter-increment: numbers;
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

ol li::before{
    content: counter(numbers); 
    background-color: #2e598d;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    color:#ffffff;
    position: absolute;
    left: -23px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 300px;
    background-color: #f4f2f2;
    color:#060606;
    font-size: 13px;
    height: auto;
    position: relative;
}

h2#error {
    color: red;
    text-align: center;
    margin: 10px 0;
}

#word {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align:left;
    color:#060606;
    width: auto;
}

#result {
    font-family: Poppins;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    counter-reset: numbers;
    color: #060606;
    height: auto;
    width: auto;
    overflow:hidden;
    resize: both;
}

#result p {
    margin: 0;
}

.navigate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.nav{
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin-right: 5px;
}

/* .navigate-container .hiddenavigator {
    display: none;
} */

.navig-prev, .navig-next {
    background-color:#438447;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    justify-content: space-between;
}

.navig-prev:hover, .navig-next:hover {
    background-color: #45a049;
}
.navigate-container{
    display: flex;
    align-items: center;
}
.navigate-container{
    flex-grow: 1;
}

.navigate-container a {
    display: flex ;
    color: #2e598d;
    text-decoration: none;
    margin-left: auto;
    text-wrap: wrap;
}

.navigate-container a:hover {
    text-decoration: underline;
    text-align: right;
}

.navigate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #ccc8c8;
    border-radius: 5px;
    position: relative;
}

.action-container {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.zoom-button {
    background-color: #2e598d;
    color: white;
    padding: 2.5px 2.5px 1px 2.5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    font-size: 0.3em;
}

.zoom-button i {
    font-size: 3em;
}

#icon{
    width: 20px;
    height: 20px;
}

.spacer{
    flex-grow: 1;
}

.zoom-button:hover {
    background-color:#438447;
}