:root {
  counter-reset: "";
}

ul {
  color: white;
  margin-top: auto;
  padding-left: 30px;
  list-style: none;
}

ul li {
  counter-increment: "";
  margin-top: 0px;
  position: relative;
  display: flex;
  align-items: center;
}

ul li::before {
  content: counter();
  background-color: #2e598d;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  color: #ffffff;
  position: absolute;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.4em;
  font-weight: bold;
}

li {
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  min-width: 250px;
  font-size: 13px;
  height: auto;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  color: #000;
}

#error {
  color: red;
  text-align: center;
  margin: 5px;
  font-family: sans-serif;
}

#word {
  font-family: Poppins;
  font-size: medium;
}

#result {
  font-family: Poppins;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0.3, 0.2, 0.3, 0.2);
  counter-reset: "";
  color: #0000;
  overflow: hidden;
  resize: both;
  padding-left: 5px;
  align-items: flex-start;
  width: auto;
  height: auto;
  background-color: #ffffff;
}

h6 {
  font-family: Poppins;
  color: #000;
}


#result p {
  margin: 0;
}

.nav {
  display: flex;
}

.link {
  justify-content: flex-end;
  cursor: pointer;
  width: 30px;
  height: 23px;
  margin-bottom: 10px;
}

.nav a {
  color: #2e598d;
  text-decoration: none;
  margin-left: auto;
}

.lang {
  margin-top: 14.5px;
  margin-bottom: 17px;

}

.control {
  border: none;
  color: #000;
  background-color: #ffffff;
}

select:hover {
  cursor: pointer;
  border-color: none;
}

.action-container {
  display: flex;
  margin: 0px;
}

.zoom-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-left: 4.3em;
  margin-top: 10px;
  margin-bottom: 17px;
}

.zoom-button button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}

#zoom-in {
  display: flex;
  justify-content: flex-end;
  position: relative;
  border: inset;
}

#zoom-out {

  border: outset;
}

.zoom-button i {
  font-size: 1em;
}

/* label {
  position: absolute;
  border: 2px solid;
  border-radius: 20px;
  width: 29px;
  height: 16px;
  margin-left: 8px;
  margin-top: 5px;
} */

/* label::before {
  position: absolute;
  content: '';
  left: 0px;
  border-radius: 50%;
  cursor: pointer;
  width: 13px;
  height: 13px;
  background: #000;
  color: #ffffff;
  transition: 0.4s;
}

label.active:before {
  left: 14px;
  background: white;
  color: #000;
} */

body.night {
  background: #000;
  color: #ffffff;
}

#page {
  margin-top: 10px;
}

/* .card-body {
  padding: 10px;
} */