:root{
    counter-reset: headings;
}
ol{
    counter-increment: headings;
    color: white;
}

ol::before{
    content: counter(headings);
    background-color: rgb(107, 107, 205);
    border-radius: 2px;
    padding: 0.15em 0.5px;
    width: 60px;
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f9f9f9;
}

h2#error {
    color: red;
    text-align: center;
    margin: 10px 0;
}

#word {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
}

#result {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#result p {
    margin: 0;
}

.navigate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.navigate-container.hiddenavigator {
    display: none;
}

.navig-prev, .navig-next {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.navig-prev:hover, .navig-next:hover {
    background-color: #45a049;
}
.navigate-container{
    display: flex;
    align-items: center;
}
.navigate-container{
    flex-grow: 1;
}

.navigate-container a {
    font-size: 0.1em;
    color: #4CAF50;
    text-decoration: none;
    margin-left: auto;
}

.navigate-container a:hover {
    text-decoration: underline;
    text-align: right;
}

.navigate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigate-container a {
    margin-left: auto;
}

.close-button{
    background-color: #4CAF50;
    color: White;
    padding: 5px 10px;
    border-radius: 5px;
    cursor:pointer;
    margin-left: 10px;
}

.close-button:hover{
    background-color: #45a049;
}

#first-result{

}